{{#if hide}}
{{>style}}
{{else}}
{{>logreg}}
{{/if}}
{{!-- <link rel="stylesheet" href="css/navstyle.css">
<link rel="stylesheet" href="css/sliderstyle.css"> --}}

<header>
    <a href="http://localhost:2266/"  class="logo" href="#">EASYSHOP</a>
    <a href="../cart" class="cart">Cart</a>
    <nav>
        <ul class="nav__links">
            <li><a href="/mens">Men</a></li>
            <li><a href="/womens">Women</a></li>
            <li><a href="/kids">Kids</a></li>
        </ul>
    </nav>
    <a class="cta" href="/login">Login</a>
    <a class="cta" href="/register">Sign up</a>
    <a href="./addproducts"  class="cta" value="add">Add</a>

    {{!-- <p class="menu cta">Menu</p> --}}
    
</header>